[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
 
[packages]
Flask=3.0.2
Flask-Bootstrap=3.3.7.1
Flask-Login=0.6.3
Flask-SQLAlchemy=3.1.1
paho-mqtt=1.5.1
psycopg2-binary=2.9.9
 
[requires]
python_version = "3.12.2"
